.card{
    display: inline-flex;
    padding: 2%;
    /* background-color:black ; */
    
}
h3{

    text-align: center;
    background-color: rgb(130, 255, 255);
    border: 2px solid black;
}

.select-container{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.mb-3{
    margin: auto;
    width: 200px;
}